[Unit]
Description=Application Auth Service
After=network.target

[Service]
EnvironmentFile=/etc/environment

Type=simple
User=app
WorkingDirectory=/home/app/deploy/apps/auth
ExecStart=/usr/local/bin/node /home/app/deploy/apps/auth/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
